.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none
}

.nav-items {
    padding-left: 2rem;
    padding-right: 2rem;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}

.footer-sections {
    flex: auto;
}

.social-links {
    list-style-type: none;
}


.main-container {
    display: grid;
    gap: .5rem
}


.flex-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item {
    flex: 1;

}

.specials-grid {
    display: grid;
    align-items: center;
}

@media (max-width:480px) {
    .specials-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 769px) {
    .specials-grid {
        grid-template-columns: repeat(12, 1fr);
    }
}

.gird-col-span-two {
    grid-column: span 2;
}