a {
    text-decoration: none;
    color: #333333;
}

body {
    color: #333333;
}

.list-style-none {
    list-style-type: none;
}


.button {
    margin-bottom: 2%;
    background-color: #F4CE14;
    border-radius: 16px;
    border: none;
    font-family: "Karla";
    font-size: 14pt;
    color: #333333;
}

.button:active {
    background-color: #333333;
    color: white
}

.button span {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-left: 15px;
    margin-right: 15px;
}

.nav-logo {
    padding-top: 8px;
    width: 280px;
}

.nav-links {

    grid-column: 3 / 12;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Markazi Text";
    font-size: 24px;

}

.jumbotron-section {
    background-color: #495E57;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.jumbotron-title {
    font-family: "Markazi Text";
    font-size: 40pt;
    color: #EDEFEE;
    font-weight: bolder;
    line-height: 10px;
}

.jumbotron-subtitle {
    font-family: "Markazi Text";
    font-size: 36pt;
    color: #EDEFEE;
    font-weight: bold;
    line-height: 15px;
}

.jumbotron-description {
    font-family: "Karla";
    font-size: 18pt;
    color: #EDEFEE;

}

.jumbotron-information {
    grid-column: 2/ 6;
}

.jumbotron-img {
    grid-column: 8/10;

}

.specials-section {
    margin-bottom: 40px;
}

.specials-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.specials-header-title {
    font-family: "Karla";
    font-size: 18pt;
    grid-column: 2/ 4;
}

.specials-header-button {
    grid-column: 10/ 12
}

.specials-grid {
    gap: .5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.specials-card {
    grid-column: span 4;
    background-color: #EDEFEE;
    border-radius: 8px;
}

.specials-card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.specials-card-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 80px;
}

.specials-card-price {
    grid-column-start: 3;
    color: red;
    font-family: "Karla";
    font-size: 18pt;
}

.specials-card-title {
    grid-column: span 2;
    font-family: "Karla";
    font-size: 18pt;
}

.specials-card-description {
    margin-left: 5px;
    font-family: "Karla";
    font-size: 16pt;
}


.testimonial-heading {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-family: "Markazi Text";
    font-size: 36pt;
}

.testimonial-grid {
    gap: .5rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.testimonial-card {
    border-radius: 8px;
    background-color: #EDEFEE;
    width: 180px;
    font-family: "Karla";
}

.testimonial-card-wrapper {
    margin-left: 5px;
}

.testimonial-card-badge {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.testimonial-card-img {
    margin-top: 6px;
    height: 40px;
    width: 40px;
}

.testimonial-star {
    color: yellow
}

.about-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .2rem;
    background-color: #F4CE14;
    margin-bottom: 2%;
}

.about-text {
    grid-column: 2;
    color: #333333;
    margin-bottom: 10%;
}

.about-img {
    height: 190px;
}

.about-text h2 {
    font-family: "Markazi Text";
    font-size: 40pt;
    padding: 0;
    margin-bottom: 0;
    line-height: 15px;
}

.about-text h3 {
    font-family: "Markazi Text";
    font-size: 36pt;
    padding: 0;
    margin-bottom: 0;
    line-height: 15px;
}

.about-text p {
    font-family: "Karla";
    font-size: 18pt;
}

.image-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    padding-top: 20%;
    margin-bottom: 10%;
}

.about-img-top {
    grid-column: 1/ span 8;
    grid-row: 1;
    padding-top: 40%;
    z-index: 1;
}

.about-img-bottom {
    grid-column: 4 / -1;
    grid-row: 1;
}

.about-img-bottom:hover {
    z-index: 1;
}

.footer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    align-items: top;
    margin-bottom: 5%;
    color: #333333;
}

.footer-img {
    padding-top: 5%;
}

.footer-sections {
    align-items: center;
    justify-content: center;
}

.footer-sec-heading {
    font-family: "Markazi Text";
    font-size: 18pt;
}

.footer-sec-content {
    font-family: "Karla";
    font-size: 16pt;
}

.reservation-form {
    display: grid;
    max-width: 200px;
    gap: 20px
}


@media only screen and (max-width: 390px) {
    .header {
        grid-template-columns: repeat(4, 1fr);
    }

    .nav-links {
        grid-row-start: 2;
        grid-column: 1;
        justify-content: center;
    }

    .jumbotron-section {
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;

    }

    .jumbotron-img {
        grid-row-start: 1;
        grid-column-start: 1;
        justify-content: center;
        margin: auto;
    }

    .jumbotron-information {
        grid-row-start: 2;
        grid-column-start: 1;
        margin: auto;
    }

    .specials-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .testimonial-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonial-heading {
        width: 60%;
    }

    .about-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-text {
        grid-column: span 2;
    }

    .about-img {
        margin-left: 15%;
    }

    .footer {
        grid-template-columns: repeat(1, 1fr);
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}