.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 90px;
    margin-left: 15px;
    margin-right: 15px;
}

.nav-logo {
    padding-top: 8px;
    width: 280px;
}

.nav-links {

    grid-column: 3 / 12;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Markazi Text";
    font-size: 24px;

}

.jumbotron-section {
    background-color: #495E57;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.jumbotron-title {
    font-family: "Markazi Text";
    font-size: 40pt;
    margin: 0;
    padding: 0;
    color: #EDEFEE;
    font-weight: bolder;
}

.jumbotron-subtitle {
    font-family: "Markazi Text";
    font-size: 36pt;
    margin: 0;
    padding: 0;
    color: #EDEFEE;
    font-weight: bold;
}

.jumbotron-description {
    font-family: "Karla";
    font-size: 18pt;
    color: #EDEFEE;

}

.jumbotron-information {
    grid-column: 2/ 6;
}

.jumbotron-img {
    grid-column: 8/10;

}

.specials-section {
    height: 640px;
    margin-bottom: 40px;
}

.specials-header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.specials-header-title {
    font-family: "Karla";
    font-size: 18pt;
    grid-column: 2/ 4;
}

.specials-header-button {
    grid-column: 10/ 12
}

.specials-grid {
    gap: .5rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.specials-card {
    grid-column: span 4;
    background-color: #EDEFEE;
}

.specials-card img {
    width: 100%;
    height: 190px;
    object-fit: cover
}

.specials-card-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 80px;
}

.specials-card-price {
    grid-column-start: 3;
    color: red;
    font-family: "Karla";
    font-size: 18pt;
}

.specials-card-title {
    grid-column: span 2;
    font-family: "Karla";
    font-size: 18pt;
}

.specials-card-description {
    margin-left: 5px;
    font-family: "Karla";
    font-size: 16pt;
}

.testimonial-section {
    height: 380px;
}

.testimonial-heading {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-family: "Markazi Text";
    font-size: 36pt;
}

.testimonial-grid {
    gap: .5rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.testimonial-card {
    background-color: #EDEFEE;
    width: 180px;
    font-family: "Karla";
}

.testimonial-card-wrapper {
    margin-left: 5px;
}

.testimonial-card-badge {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.testimonial-card-img {
    margin-top: 6px;
    height: 40px;
    width: 40px;
}

.testimonial-rating {}

.testimonial-star {
    color: yellow
}

.footer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.footer-sections {
    align-items: center;
    justify-content: center;
}

.footer-sec-heading {
    font-family: "Markazi Text";
    font-size: 18pt;
}

.footer-sec-content {
    font-family: "Karla";
    font-size: 16pt;
}

.list-style-none {
    list-style-type: none;
}